



body{

background: #e65c00; 
background: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F9D423, #e65c00);



}


button {
  display: inline-block;
}


.center{
	font-size: xx-large;
	color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}